@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}


body{
    display: flex;
    justify-content: space-between;
}


.img-sidebar {
    min-width: 30%;
    background-image: url(images/pexels-krivec-ales-547114.jpg);
}
.main {
    max-width: 70%;
    height: auto;
}