@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
:root {
    --input-border-color: #E5E7EB;
    --default-font: Arial;
}

body{
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-family: var(--default-font);
}


.image-sidebar {
    min-width: 35vw;
    min-height: 100vh;
    background-image: url(images/photo-1585202900225-6d3ac20a6962.avif);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.logo-background {
    width: 100%;
    height: 20vh;
    display: flex;
    color: white;
    position: absolute;
    top: 20%;
    background-color: rgb(0, 0 ,0, 0.5);
    justify-content: center;
    align-items: center;

}
.logo-background h1 {
    font-size: 9rem;
    font-family: Norse-Bold, sans-serif;
}
.logo-background img {
    height: 150px;
}
.main {
    max-width: 70vw;
    height: auto;
    background-color: whitesmoke;
    
}
.main-para {
    margin-top: 15vh;
}
.main p {
    font-size: 40px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
}


.input-form {
    background-color: white;
    padding: 2% 5%;
}
.form-header {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 1vh;
}

.form-row {
    display: flex;
    gap: 100px;
    margin-bottom: 3vh;
    
}
.input {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 1px;
    outline: none;
    letter-spacing: 0.1rem;
}

input {
    border: 1px solid var(--input-border-color);
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    
}
input:focus {
    border:1px solid blue;
    box-shadow: 2px 3px rgb(0,0,0, 0.2);
    outline: none;
}

.submit-form {
    padding: 5%;
    width: 22vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.submit-form button {
    background-color: #596D48;
    border: none;
    font-size: 1.5rem;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}
.submit-form div {
    font-size: 1.2rem;
}